<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zbW.ProjNuGet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <zbW.ProjNuGet.Properties.Settings>
            <setting name="DefaultServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DefaultDB" serializeAs="String">
                <value>semsterprojekt</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="DefaultPW" serializeAs="String">
                <value>123456789</value>
            </setting>
        </zbW.ProjNuGet.Properties.Settings>
    </userSettings>
</configuration>